
.App {
    text-align: center;
    padding-top: 76px;
    background-color: #580615;
    height: 100%;
    overflow: auto;
    width: 100vw;


}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

body {
    font-family: Warownia;
    letter-spacing: 2px;

}

@font-face {
    font-family: 'Warownia';
    src: url('fonts/Warownia.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

.box {
    height: 500px;
    /*   width: 200px;*/
    background-image: linear-gradient(180deg, #240208, #580615);

}

.App-header {
    background-color: #a8892e;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.container {
    display: flex;
}

.routes * {
    flex: 1;
    margin-top: 1000px;
    margin-left: 270px;


}

.sidebar {
    width: 200px; /* the width of your sidebar */
    margin-left: 20px; /* adjust as needed */
    position: fixed;
    left: 50px;
    /*   margin-left: 100px;*/
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
