.App {
    text-align: center;
    padding-top: 76px;

    height: 100vh;
    overflow: auto;
    width: 100vw;

    /*   width: 200px;*/
    background: rgb(36, 2, 8);
    background: linear-gradient(144deg, rgba(36, 2, 8, 1) 47%, rgba(82, 6, 19, 1) 64%);


}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}



body {
    font-family: "Warownia", Arial, sans-serif;
    letter-spacing: 2px;

}

@font-face {
    font-family: 'Warownia';
    src: url('fonts/Warownia.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

.box {
    height: 100vh;
    /*   width: 200px;*/
    /* background-image: linear-gradient(180deg, #240208, #580615); */

}

.App-header {
    background-color: #a8892e;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.container {
    display: flex;
}

.routes * {
    flex: 1;
    margin-top: 1000px;
    margin-left: 270px;


}

.sidebar {
    width: 200px;
    /* the width of your sidebar */
    margin-left: 20px;
    /* adjust as needed */
    position: fixed;
    left: 50px;

    /*   margin-left: 100px;*/
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}