.SearchAlbum {}

.custom-card-body {
    background-color: #4a0410;
    justify-content: center;
    color: #cccccc;
    border: none !important;

}

.custom-button {
    margin-left: 10px;
    --bs-btn-bg: #e80000;
    --bs-btn-border-color: #b40000;
    --bs-btn-hover-bg: #ff2100;
    --bs-btn-hover-border-color: #cc1a00;
}

.custom-card {
    max-width: 300px;
    background-color: var(--bs-card-bg) !important;
    --bs-card-bg: #4a0410 !important;
}

.custom-card .card-title {
    color: white;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}